/* Navigation styles */
.navbar-nav {
  margin-left: auto;
  margin-right: 40px !important;
}
.nav-link {
  margin-left: 15px;
}
.bg-light {
  background-color: white !important;
}
.navbar-brand {
  margin-left: 15px;
}

/* Jumbotron styles */
.jumbotron {
    background-image: linear-gradient(white, orange);
    height: 710px;
  }
/*.container-fluid img {
width: 100%;
}*/
.info p {
  font-size: 20px;
  word-wrap: break-word;
  padding-left: 0%;
  margin: 0%;
}
h1 {
  font-size: 40px;
  width: 100%;
  padding-left: 0%;
  padding-right: 10px;
  margin: 0%;
}
.pic img {
  display: flex;
  justify-items: flex-end;
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

/* Container Content Syles */
.container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.container h1 {
  font-weight: bold;
  color: orange;
  font-size: 48px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container h2 {
  padding-top: 20px;
  padding-bottom: 30px;
}
.container h4 {
  color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 30px;
}
.col-sm li {
  font-size: 20px;
}
/* styles */ 


/* styles */

/* Contact Me styles */
.contact {
  margin: 50px auto;
  padding: 25px;
  border-radius: 7px;
  text-align: center;
}
.contact h2 {
  font-size: 32px;
  text-align: center;
}

/* Footer styles */
.footer {
  position: flex;
  width: 100%;
  height: 180px;
  line-height: 50px;
  background-color: #BFD7D9;
  cursor: pointer;
  justify-content: space-evenly;
  align-content: flex-start;
  width: 100%;
  margin-top: 50px;
  padding-top: 4%;
}
.footer img {
 height: 23px;
}
.footer a {
  padding-left: 35px;
} 


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .jumbotron {
    background-image: linear-gradient(white, orange);
    height: 740px;
    padding-top: 30px;
  }
  h1 {
    font-size: 33px;
    width: 100%;
    padding: 0%;
    margin-bottom: 20px;
  }
  .info p {
    font-size: 19px;
    line-height: 27px;
    word-wrap: break-word;
    padding-bottom: 15px;
    margin: 5px;
  }
  .pic img {
    display: flex;
    justify-items: center;
    width: 200px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-right: 2%;
    margin-left: 17%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
 .col-sm img {
width: 50%;
display: inline-block;
column-count: 2;
  }
  }

@media only screen and (min-width: 1200px) {
  /* For desktop phones: */
  .info h1{
    align-self: center;
    padding-left: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .pic img {
    display: flex;
    justify-items: center;
    width: 310px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*To-do 
resume
ask abt demo day reg
new page's detail
fix buttons
hover on picture to have quote?
    <div class="right">
       <div class="text">
        <h2>It is always the right time to make the most of your best ideas.</h2>
       </div>
    </div>



