/* Navigation styles */
.navbar-nav {
  margin-left: auto;
  margin-right: 40px !important;
}
.bg-light {
  background-color: white !important;
}
.navbar-brand {
  margin-left: 10px;
}

/* Jumbotron styles */
.jumbotron {
    background-image: linear-gradient(white, orange);
    height: 100vh;
  }
.container-fluid img {
width: 100%;
}
.info {
  padding-left: 5%;
  padding-right: 5%;
}
p.lead {
  padding-top: 4px;
  padding-bottom: 5px;
  font-size: 22px;
}
.info p {
  font-size: 22px;
  word-wrap: break-word;
  padding-left: 0%;
  margin: 0%;
}
.h1 {
  font-size: 40px !important;
  width: 80%;
  padding-left: 0%;
  padding-right: 10px;
  margin: 0%;
}
.pic img {
  display: flex;
  justify-items: flex-end;
  width: 60%;
  padding: 10px;
  margin-right: 10%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Resaerch styles */


/* styles */ 


/* styles */


/* Footer styles */
.footer {
  position: flex;
  width: 100%;
  height: 180px;
  line-height: 50px;
  background-color: #BFD7D9;
  cursor: pointer;
  justify-content: space-evenly;
  align-content: flex-start;
  width: 100%;
  margin-top: 50px;
  padding-top: 4%;
}
.footer img {
 height: 23px;
}
.footer a {
  padding-left: 35px;
} 


/*To-do 
resume
ask abt demo day reg
new page's detail
fix buttons
hover on picture to have quote?
    <div class="right">
       <div class="text">
        <h2>It is always the right time to make the most of your best ideas.</h2>
       </div>
    </div>



